*{
    margin: 0%;
    padding: 0%;
}
.header{
    height: 660px !important;
    background-image: url(images/BG2.jpg);
    background-size:cover;
    background-position: center;
    background-attachment:fixed;
    padding-top:20px;
    text-align: center;
    color: white;
}
.header img{
    width: 350px ;
    float: left;
}
.login-btn{
    width: 100px;
    padding: 8px 0;
    outline: none !important;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50px;
    background: transparent;
    color: rgb(255, 255, 255);
    float: right;
}
.login-btn:hover {
    /* color: white; */
    opacity: 0.5;
}
.header h1{
    padding-top: 230px;
    padding-bottom: 0;
    font-size: 55px;
}
.input-group{
    width: 90% !important;
    max-width: 500px;
    border-radius: 35px;
    background: white;
    margin: auto;
    padding: 2px;
}
.form-control{
    border: 0 !important;
    border-radius: 30px !important;
    margin: 2px;
    box-shadow: none !important;
}
.input-group-text{
    width: 100px;
    height:40px;
    background-image: linear-gradient(#2f5ee0,#f08800   );
    border: 0 !important;
    color: white !important;
    padding: 0 25px !important;
    border-radius: 30px !important;
    box-shadow: none !important;
}

/* features */
.features{
    padding: 60px 0;
}
.features h1{
    text-align: center;
    padding-bottom: 30px;
}
.feature-img img{
    width:100%;

}
.price{
    width: 60px;
    height: 50px;
    background: rgb(255, 103, 1);
    color: white;
    font-weight: 600;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 0 10px 1px rgba(37, 73, 214, 0.18);
    position:absolute;
    left:20px;
    bottom:-25px;
}
.feature-img{
    position: relative;
}
.rating{
    padding: 3px;
    left: 260px;
    width: 100px;
    bottom: 1px;
    position: absolute;
}
.feature-details{
    padding: 20px;
    text-align: justify;
    height: 100%;
}
.feature-box{
    box-shadow: 0 0 5px 1px;
}

/* Gallary */
.gallary h1{
    text-align: center;
    padding-bottom: 30px;
}
.gallary{
    padding: 90px 0;
    background: lightgray;
}
.gallary-box img{
    width: 100%;
    height: 180px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.gallary-box img:hover{
    transform: scale(1.1);
}
.gallary-box h3{
    display: block;
    color: rgb(0, 0, 0);
    text-shadow: -2px 2px 2px rgb(255, 255, 255);
    font-weight: 600;
    position:absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%,-50%);
}
.gallary-box{
    position: relative;
    margin-bottom: 30px;
}

.banner{
    height: 80%;
    background-image: url(images/BG4.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 14%;
}
.banner-highlights{
    padding: 70px 0;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    color: white;
}
.booking-btn{
    width: 120px;
    padding: 8px 0;
    outline: none !important;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50px;
    background: transparent;
    color: rgb(255, 255, 255);
    margin-top: 20px;
}
.booking-btn:hover {
    /* color: white; */
    opacity: 0.5;
}
.user-feedback{
    padding: 100px 0;
}
.user-feedback h1{
    text-align: center;
}
.user-review{
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 100, 0.2);
    padding-bottom: 50px;
    height: 85%;
}
.user-review p{
    padding: 50px 10px 10px 10px;
}
.user-feedback img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: relative;
    margin: -40px 0 20px 40%;
    left: -15px;
}

.footer{
    padding: 100px 20px;
    background-image: linear-gradient(#316497,#22d6ee);
    color: white ;
}

.footer h4{
    text-align: left;
    margin-top: 15px;
    margin-bottom: 25px;
}
.footer p{
    text-align: justify;
    padding-right: 35px;
}

.fa {
    padding:12px;
    font-size: 30px;
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    color: white;
    opacity: 0.5;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: #ec0873;
    color: white;
}